* {
  font-family: Helvetica;
}

div {
    text-align: center;
}

.heading {
  background-image: url(/Users/esthefanymelo/Desktop/webdesignprojects/broadway/resources/pictures/the-flatiron-building.png);
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

nav {
  font-size: 18px;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.break {
  color: white;
  background-image: url(/Users/esthefanymelo/Desktop/webdesignprojects/broadway/resources/pictures/the-flatiron-building.png);
}

#bottom {
  text-align: left;
  background-color: dimgray;
  color: white;
}

#bottom p {
  font-size: 11px;
}

#bottom nav {
  font-size: 18px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
