* {
  font-family: Helvetica;
  text-align: center;
  color: white;
}

.heading {
  background-image: url(/Users/esthefanymelo/Desktop/webdesignprojects/broadway/resources/pictures/the-flatiron-building.png)
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

nav {
  font-size: 18px;
}
